<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bootstrap example</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body style="background-color: whitesmoke">
    <div class="container">
      <div
        class="header"
        style="
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 10px;
        "
      >
        <div class="left">
          <img
            src="https://th.bing.com/th/id/R.9656d0429240a1cf2e13e36b99a26bfc?rik=dWUKOK3QzmPDYQ&riu=http%3a%2f%2fphotos.prnewswire.com%2fprnfull%2f20160202%2f10139327&ehk=iwRUTImYmBsKCD4ijXBrn52qzMckWQbA5DGy3H40u50%3d&risl=&pid=ImgRaw&r=0"
            width="200px"
            height="100px"
            alt=""
          />
        </div>
        <div
          class="center"
          style="display: flex; flex-direction: column; margin-left: 50px"
        >
          <h1
            style="
              font-size: 55px;
              color: rgb(254, 144, 1);
              font-weight: bolder;
              font-family: 'Times New Roman', Times, serif;
            "
          >
            Lovely Professional University
          </h1>
          <h5 class="text-center" style="color: rgb(235, 193, 139)">
            Phagwara, NH1, GT Road Jalandhar - 01824510274
          </h5>
        </div>
      </div>

      <div class="body">
        <h3
          class="text-center"
          style="margin-top: 10px; font-size: 40px; color: rgb(178, 149, 111)"
        >
          <u>Candidate Selection Form</u>
        </h3>

        <form action="" (ngSubmit)="onSubmit(frm)" #frm="ngForm">
          <div class="form-group">
            <label for="">Name :</label>
            <input
              type="text"
              class="form-control"
              placeholder="Enter Name"
              name="name"
              ngModel
              #nm="ngModel"
              required
              minlength="3"
              maxlength="50"
            />
            <div class="alert alert-danger" *ngIf="nm.touched && !nm.valid">
              <div *ngIf="nm.errors?.['required']">Name is required</div>
              <div *ngIf="nm.errors?.['minlength']">Minimum length is 3</div>
              <div *ngIf="nm.errors?.['maxlength']">Maximum length is 50</div>
            </div>
          </div>
          <br />
          <div class="form-group">
            <label for="">Date of Birth :</label>
            <input
              type="date"
              class="form-control"
              placeholder="Enter date of birth"
              name="dob"
              ngModel
              #dob="ngModel"
              required
            />
            <div class="alert alert-danger" *ngIf="dob.touched && !dob.valid">
              DOB is required
            </div>
          </div>
          <br />
          <div class="form-check-inline">
            <label for=""
              >Age
              <input
                type="number"
                class="form-control"
                placeholder="Enter your Age"
                name="age"
                ngModel
                #age="ngModel"
                required
                min="20"
                max="40"
            /></label>
            <div class="alert alert-danger" *ngIf="age.touched && !age.valid">
              <div *ngIf="age.errors?.['min']">Minimum age should be 20</div>
              <div *ngIf="age.errors?.['max']">Maximum age should be 40</div>
              <div *ngIf="age.errors?.['required']">Age is required</div>
            </div>
          </div>
          <div class="form-check-inline">
            <label for=""
              >Religion
              <input
                type="text"
                class="form-control"
                placeholder="Enter your religion"
                name="religion"
                ngModel
            /></label>
          </div>
          <br />
          <br />

          <div class="form-check-inline">
            <label for=""
              >Salary Requirements:
              <input
                type="number"
                class="form-control"
                required
                name="salary"
                ngModel
                placeholder="Salary"
              />
            </label>
          </div>

          <div class="form-check-inline">
            <label for="">Type of employment desired: </label> <br />

            <label for=""
              >Full TIme:
              <input
                type="checkbox"
                class="form-check-input"
                name="employment"
                value="fulltime"
                ngModel
              />
            </label>
            &nbsp;
            <label for=""
              >Part TIme:
              <input
                type="checkbox"
                class="form-check-input"
                name="employment"
                value="parttime"
                ngModel
              />
            </label>
          </div>
          <br />
          <br />
          <div class="form-group">
            <label for=""
              >Skill Set:
              <textarea
                name="skills"
                required
                class="form-control"
                ngModel
                id=""
                cols="50"
                required
                rows="3"
                placeholder="Tell us about your skills"
              ></textarea>
            </label>
          </div>

          <br />
          <div class="form-group" name="Address" ngModelGroup #addr="ngModelGroup">
            <label for=""
              ><h5><u>Address</u></h5></label
            >
            <br />
            <div class="alert alert-danger" *ngIf="addr.touched && !addr.valid">
              Address is Invalid
            </div>
            <div class="form-check-inline">
              <label for=""
                >City :
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter City"
                  name="city"
                  ngModel
                  required
                />
              </label>
            </div>

            <div class="form-check-inline">
              <label for=""
                >State :
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter State"
                  name="state"
                  ngModel
                  required
                />
              </label>
            </div>

            <div class="form-check-inline">
              <label for=""
                >Zip :
                <input
                  type="number"
                  class="form-control"
                  placeholder="Enter Zip"
                  name="zip"
                  ngModel
                  required
                />
              </label>
            </div>
          </div>
          <div class="form-group">
            <label for="">Email :</label>
            <input
              type="email"
              class="form-control"
              placeholder="Enter Email"
              name="email"
              ngModel
              #em="ngModel"
              required
            />
            <div class="alert alert-danger" *ngIf="em.touched && em.invalid">
              Email is required
            </div>
          </div>
          <div class="form-check-inline">
            <label for=""
              >Phone 1
              <input
                type="number"
                class="form-control"
                placeholder="Enter Phone Number"
                name="phone1"
                ngModel
                #ph1="ngModel"
                required
                maxlength="10"
                minlength="10"
            /></label>
            <div class="alert alert-danger" *ngIf="ph1.touched && ph1.invalid">
              Phone no. is invalid
            </div>
          </div>
          <div class="form-check-inline">
            <label for=""
              >Phone 2
              <input
                type="number"
                class="form-control"
                placeholder="Enter Phone Number"
                name="phone2"
                ngModel
                #ph2="ngModel"
                required
                maxlength="10"
                minlength="10"
            /></label>
            <div class="alert alert-danger" *ngIf="ph2.touched && ph2.invalid">
              Phone no. is invalid
            </div>
          </div>
          <br />
          <br />
          <div class="form-group" style="margin-top: 10px">
            <h5>Detail of the Parents</h5>
            <div class="form-check-inline">
              <label for=""
                >Father's Name:
                <input
                  type="text"
                  class="form-control"
                  placeholder="Father's name"
                  name="f_name"
                  ngModel
              /></label>
            </div>
            <div class="form-check-inline">
              <label for=""
                >Occupation
                <input
                  type="text"
                  class="form-control"
                  placeholder="Father's Occupation"
                  name="f_occupation"
                  ngModel
              /></label>
            </div>
            <br />

            <div class="form-check-inline">
              <label for=""
                >Monthly Income:
                <input
                  type="text"
                  class="form-control"
                  placeholder="Income"
                  name="f_income"
                  ngModel
              /></label>
            </div>
            <div class="form-check-inline">
              <label for=""
                >Address
                <input
                  type="text"
                  class="form-control"
                  placeholder="Father's Address"
                  name="f_address"
                  ngModel
              /></label>
            </div>
          </div>
          <br />

          <div class="form-check-inline">
            <label for=""
              >Date of Application
              <input
                name="date"
                required
                ngModel
                type="date"
                class="form-control"
              />
            </label>
          </div>
          <div class="form-check-inline">
            <label for=""
              >Applied For
              <input
                type="text"
                class="form-control"
                placeholder="Job name"
                name="Job_name"
                required
                ngModel
              />
            </label>
          </div>
          <br />
          <br />
          <div class="form-group">
            <label for="">Tell us about yourself</label> <br />
            <textarea
              name="description"
              ngModel
              id=""
              cols="50"
              rows="5"
            ></textarea>
          </div>

          <div class="form-check-inline">
            <label for="">
              <input
                class="form-check-input"
                type="checkbox"
                required
                name="acknoledgement"
                ngModel
                id=""
              />
              I understand that the above particulars are correct and accept the
              rules and policies of LPU.
            </label>
          </div>
          <br />
          <br />
          <button type="submit" [disabled]="!frm.valid" class="btn btn-primary">
            Submit
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
